* {
  font-family: "Comic Sans";
}

header {
  position: fixed;
  display: inline-block;
  width: 100%;
}

main {
  position: relative;
  top: 50px;
}

footer {
  background-color: gray;
  position: fixed;
  display: inline-block;
  width: 100%;
  bottom: 0px;
}
